.card-info-review {
  max-width: 800px;
  margin: auto;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px 1px #5c5c5c;
  border: #000 1px solid;
}

.card-review img {
  width: 100%;
  border-radius: 10px;
}

.card-review p {
  text-align: justify;
  padding: 0px 10px;
}

.card-review {
  padding: 10px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.review-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

:root {
  --star-size: 20px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
}

.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
